* {
    /* font-family: 'Cabin', sans-serif; */
    
  }
  
body {
min-height: 100vh;
background-image: url("../images/backgound.png");
background-size: cover;
background-repeat: no-repeat;
color: black;
}

.initialText {
font-size: 20px;
color: white;
/* letter-spacing: 1.5px; */
font-family: Montserrat, sans-serif;
}

header {
    padding: 50px 0px;
    font-size: 85px;
    color: white;
    
    letter-spacing: 2px;
  }

#cheese {
    border: white 3px solid;
    border-radius: 10px;
    text-align: center;
    /* box-shadow: 3px 3px 7px #313131; */
    background-color: none; 
    padding-bottom: 10px;
    padding: 20px;
    
    
    
    


}

.timerText, .correctText, .wrongText, .timeOutText {
    font-size: 20px;
    color: white;
    padding: 10px; 
    background-color: #5cb85c;
    border-radius: 5px;
    font-family: Montserrat, sans-serif;
    
}

.startButton {
    margin-top: 50px;
    font-family: Montserrat, sans-serif;
}
.answer {
    background-color: white;
}

.answer:hover {
    background-color: rgb(250, 235, 167);

}



.questionText {
    font-size: 25px;
    color: white;
    line-height: 30px;
    margin-bottom: 20px;
    font-family: Montserrat, sans-serif;
}



#cheese {
    margin-top: 25px;
    text-align: center;
    line-height: 85px;
}

.mainArea {
    opacity:0;
    transition: opacity 2s;
    -webkit-transition: opacity 2s;

}

.finishedText {
    font-size: 35px;
    color: white;
    font-weight: bold;
    font-family: Montserrat, sans-serif;
}

.summaryCorrect, .summaryWrong, .summaryUnanswered {
    color: white;
    font-size: 20px;
    font-family: Montserrat, sans-serif;
}

@media screen and (max-width: 575px) {
    header {
        font-size: 65px;    
    }
    body {   
        background-image: url("../images/backgound_575.png");
        background-size: cover;
        background-repeat: no-repeat;
       
    }
    #cheese {
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media screen and (max-width: 360px) {
    header {
        font-size: 65px;
        padding: 15px 0px 25px 0px;
        
    }
    body {
        
        background-image: url("../images/backgound_360.png");
        background-size: cover;
        background-repeat: no-repeat;
        
        
    }
    #cheese {
        margin-left: 15px;
        margin-right: 15px;
    }
   
    

}